<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        body, h1, h2, h3, p {
            margin: 0;
            padding: 0;
        }

        /* Style for the overall body */
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            line-height: 1.6;
            background-color: #f7f9fc;
        }
        /* Style for the footer */
        footer {
            background-color: #34495e;
            color: #fff;
            text-align: center;
            padding: 10px 20px;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <footer>
        <p>&copy; Blog Ninja 2024. All Rights Reserved.</p>
    </footer>
</body>
</html>
